
.container{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    /* background: #f4f6f8; */
    border-radius: 8px;
    background-color: var(--bg-secundario); /* Em vez de #f4f6f8 */
    color: var(--texto-principal); /* Em vez de #000 */
}

.vazio{
    width: 100%;
    color: gray;
}

.tabela{
    width: 100%;
    border-collapse: collapse;
}

.tabela th,
.tabela td{
    padding: 1px 40px;
    text-align: left;
}


.inputBusca {
    width: 80%;
    padding: 12px 15px;
    margin: 0 auto 20px auto; /* alinhamaneto na direita e esquerda */
    display: block; /* garante que o input se comporte como um bloco */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.inputBusca:focus {
    border-color: #0A66C2; /* Mesma cor do hover no Footer */
    box-shadow: 0 0 5px rgba(10, 102, 194, 0.2);
}