.footer{
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    margin-top: 40px;
    color: #555;
    border-top: 1px solid #ddd;
}

.social_list{
    display: flex; /* tirou da vertical e coloca na horizontal */
    gap: 15px; /* espaçar um pouco */
    list-style: none;   /* remover as bolinhas */
    justify-content: center; /* colocar no meio */
}

.social_ist a{
    font-size: 24px;
    color: #444;
    transition: 0.3s;
    cursor: pointer;
}

.social_list a:hover{
    transform: scale(1.2); /* aumenta ou diminui o tamanho*/
    color: #0A66C2;
}