.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #444;
}

.social_list {
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.social_list a {
  font-size: 24px;
  color: white;
  transition: 0.3s;
}

.social_list a:hover {
  transform: scale(1.2);
  color: #0A66C2;
}